{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	{% block meta_keys %}
	<meta name="keywords" content="{{ SETUP.meta_key|safe|default:'' }}">
  {% endblock %}
  {% block meta_desc %}
	<meta name="description" content="{{ SETUP.meta_desc|safe|default:'' }}">
  {% endblock %}
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{#	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />#}
	{% block title %}
	<title>{{ SETUP.title|default:'Не указано' }}</title>
  {% endblock %}
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/all.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fancybox.min.css' %}" />
	<script src="{% static 'landing/js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
	<script src="{% static 'landing/js/jquery.validate.js' %}"></script>
	<script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'landing/js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'landing/js/typed.min.js' %}"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/html5.js' %}"></script><![endif]-->
	<script src="{% static 'landing/js/all.js' %}?v=1"></script>
{% block top_js %}
{% endblock %}
{{ SETUP.top_js|safe|default:'' }}
</head>
<body>
{% block content %}
	<div id="wrapper">
		<div class="top-trigger popup-trigger">
			<a href="#popup2" class="popup-trigger-link fancy-black"></a>
		</div>
		<header class="header">	
			<div class="header-top">
				<div class="holder">
					<a href="" class="mob-nav-icon"><span class="mob-nav-block"></span></a>
					<div class="header-nav">
						<ul>
							<li><a href="#wrapper" class="scroll">Главная</a></li>
							<li><a href="#block2" class="scroll">О бизнесе</a></li>
							<li><a href="#block3" class="scroll">Кейсы и прибыль</a></li>
							<li><a href="#block4" class="scroll">Отзывы партнеров</a></li>
							<li><a href="#block5" class="scroll">Контакты</a></li>
						</ul>
					</div>
					<div class="header-top-link"><a href="{% url 'landing:index' %}">франшиза рекламного бизнеса</a></div>
				</div>
			</div>
			<div class="header-main">
				<div class="header-main-block">
					<div class="holder">
						<div class="header-column">
							<div class="header-logo">
								<img src="{% static 'landing/images/logo.png' %}" alt="">
								<div class="header-logo-text">работаем с 2009 года</div>
							</div>
							<div class="header-phone"><a href="tel:{{ SETUP.tel_format }}">{{ SETUP.phone|default:'8(952)608-62-95' }}</a></div>
							<h1 class="header-title">
								<span class="type-holder">Прибыльная франшиза в сфере рекламы</span>
								<div class="header-title-light">Зарабатывайте до 300 000 рублей в месяц, уделяя работе не более 3-х часов в день</div>
							</h1>
							<div class="header-button">
								<a href="#popup" class="button button-red fancybox">Скачать материалы проекта (10, 1 Mb) .pdf</a>
								<div class="header-button-text">Все 100% наших <br>партнеров успешны </div>
							</div>
							<div class="header-warranty">
								<img src="{% static 'landing/images/shield.png' %}" alt="">
								<div class="header-warranty-text">Гарантия! Вернем вложения при отсутствии результатов в течении 6 мес. <br>Прописано в договоре.</div>
							</div>
							<img src="{% static 'landing/images/media/house.png' %}" alt="" class="header-img-big">
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="clients">
			<div class="holder">
				<div class="clients-title">
					<h2 class="clients-title-text">Наши клиенты</h2>
				</div>
				<div class="clients-block">
					<div class="clients-block-holder">
						<div class="clients-item animate fade">
							<img src="{% static 'landing/images/media/client1.png' %}" alt="">
						</div>
						<div class="clients-item clients-item-red animate fade delay1">
							<img src="{% static 'landing/images/media/client2.png' %}" alt="">
						</div>
						<div class="clients-item animate fade delay2">
							<img src="{% static 'landing/images/media/client3.png' %}" alt="">
						</div>
						<div class="clients-item clients-item-red animate fade delay3">
							<img src="{% static 'landing/images/media/client4.png' %}" alt="">
						</div>
					</div>
					<div class="clients-block-text">и многие другие</div>
				</div>
			</div>
		</section>
		<section class="about" id="block2">
			<div class="holder">
				<article class="about-content">
					<h2>О бизнесе Nadomofone</h2>
					<p>Рекламный бизнес Nadomofone - это от 200 до 10 000 рекламных площадей в каждом городе, на которых вы можете зарабатывать 
					от 1000 000 рублей в год, сдавая их в аренду, как крупным 
					федеральным компаниям, так и локальным бизнесам с полной автоматизацией и отчетностью в онлайн-режиме. </p>
					<div class="about-content-block">
						<img src="{% static 'landing/images/media/about-img.jpg' %}" alt="" class="about-content-img">
						<div class="about-content-text">
              Бизнес, который можно вести и контролировать с вашего смартфона или планшета в любой точке мира.
            </div>
					</div>
					<p>Наши партнеры зарабатывают, рекламируя таких гигантов, как Ростелеком, МТС, Билайн, Дом.ru, Сбербанк, Росбанк и множество других компаний.
					Все 100% наших партнеров в 34 городах России 
					довольны сотрудничеством с нами.
          <br>
          <a href="https://www.beboss.ru/franchise/3182-franshiza-indoor-reklama" target="_blank">Франшиза Indoor реклама на БИБОСС</a>
          </p>
				</article>
				<div class="about-video">
					<a href="#video-popup1" class="about-video-item fancybox">
						<img src="{% static 'landing/images/media/preview1.jpg' %}" alt="">
						<span class="about-video-cover">
							<span class="about-video-float">
								<span class="about-video-text">Что получают ваши клиенты</span>
							</span>
						</span>
					</a>
					<a href="#video-popup2" class="about-video-item fancybox">
						<img src="{% static 'landing/images/media/preview2.jpg' %}" alt="">
						<span class="about-video-cover">
							<span class="about-video-float">
								<span class="about-video-text">Что получают наши партнеры</span>
							</span>
						</span>
					</a>
				</div>
			</div>
		</section>
		<section class="order">
			<div class="holder">
				<div class="order-holder">
					<div class="order-frame frame1"></div>
					<div class="order-img2"></div>
					<div class="order-img3"></div>
					<div class="order-img1"></div>
					<div class="order-form">
						<div class="order-form-title">Хотите узнать о нашем бизнесе подробнее?</div>
            {% include 'landing/__includes/form.html' with MAIN_FORM=True NUMBER=1 FORM_SUBMIT_TEXT='Получить презентацию франшизы' %}
					</div>
				</div>
			</div>
		</section>
		<section class="case" id="block3">
			<div class="holder">
				<h2 class="center">Кейсы и прибыль партнеров</h2>
				<div class="case-block">
					<div class="case-item animate fadeUp">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case1.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo1.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">2 400 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Ростов-на-Дону</li>
								<li>- Волгоград</li>
								<li>- Севастополь</li>
								<li>- Новокузнецк</li>
								<li>- Кемерово</li>
							</ul>
						</div>
					</div>
					<div class="case-item animate fadeUp">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case2.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo2.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">3 209 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Чита</li>
								<li>- Новосибирск</li>
								<li>- Ростов-на-Дону</li>
								<li>- Горно-Алтайск</li>
								<li>- Воронеж</li>
							</ul>
						</div>
					</div>
					<div class="case-item animate fadeUp">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case3.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo3.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">8 160 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Волгоград</li>
								<li>- Ростов-на-Дону</li>
								<li>- Кемерово</li>
								<li>- Воронеж</li>
								<li>- Новокузнецк</li>
							</ul>
						</div>
					</div>
					<div class="case-item animate fadeUp">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case4.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo4.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">3 960 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Ростов-на-Дону</li>
								<li>- Волгоград</li>
								<li>- Барнаул</li>
								<li>- Воронеж</li>
								<li>- Рязань</li>
							</ul>
						</div>
					</div>
					
					<div class="case-item case-collapsed">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case5.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo5.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">576 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Батайск</li>
							</ul>
						</div>
					</div>
					<div class="case-item case-collapsed">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case6.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo6.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">360 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Волгоград</li>
							</ul>
						</div>
					</div>
					<div class="case-item case-collapsed">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case7.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo7.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">780 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Севастополь</li>
								<li>- Симферополь</li>
							</ul>
						</div>
					</div>
					<div class="case-item case-collapsed">
						<div class="case-img">
							<div class="case-img-block">
								<img src="{% static 'landing/images/media/case8.jpg' %}" alt="" class="case-img-big">
								<img src="{% static 'landing/images/media/case-logo8.jpg' %}" alt="" class="case-img-logo">
							</div>
						</div>
						<div class="case-content">
							<div class="case-item-title">
								<span>Выручка партнеров в год</span><br>
								<span class="case-title-big">864 000 руб.</span>
							</div>
							<div class="case-item-text">В каких городах размещается реклама:</div>
							<ul class="case-item-list">
								<li>- Севастополь</li>
								<li>- Ростов-на-Дону</li>
								<li>- Волгоград</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="button-holder">
					<a href="" class="button case-more">ЗАГРУЗИТЬ ЕЩЕ</a>
				</div>
			</div>
		</section>
		<section class="review" id="block4">
			<div class="holder">
				<h2 class="center">Отзывы наших партнеров</h2>
				<div class="review-block">
					<!--<div class="review-item animate fadeUp">-->
						<!--<div class="review-top">-->
							<!--<div class="review-photo"><img src="{% static 'landing/images/media/r1.jpg' %}" alt=""></div>-->
							<!--<div class="review-top-content">-->
								<!--<div class="review-author">Вадим Бекетов</div>-->
								<!--<div class="review-author-text">партнер, г. Мичуринск</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="review-info">-->
							<!--<div class="review-info-min"><b>450</b> стендов</div>-->
							<!--<div class="review-info-big"><b>35 000 руб.</b> Ежемесячный доход</div>-->
						<!--</div>-->
						<!--<div class="review-text">-->
							<!--<div class="indent">У меня есть собственная типография и техника загружена не на 100%, поэтому решил попробовать себя в-->
								<!--рекламной франшизе.<br>-->
							<!--</div>-->
							<!--<div class="indent">Мне понравился проект "Надомофоне". В январе 2018 года я-->
								<!--подключился к франшизе. Сразу у меня появился клиент: сеть супермаркетов "Светофор". Через неделю я заключил договор с компанией-->
								<!--"Ростелеком", на весь город на год.<br>-->
							<!--</div>-->
							<!--<div class="indent">Сейчас я планирую увеличить количество конструкций-->
								<!--в моем городе в два раза, тогда франшиза будет приносить пассивный доход около 80 тысяч в месяц. Следующим этапом я собираюсь купить франшизу в соседних-->
								<!--городах: Тамбове и Липецке. Надеюсь, что города закрепят за мной и не уйдут к другим партнерам.-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="review-bottom">-->
							<!--<span>8-900-496-66-57</span>-->
							<!--<a href="http://www.vk.com/id3597965" target="_blank">www.vk.com/id3597965</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="review-item animate fadeUp delay1">-->
						<!--<div class="review-top">-->
							<!--<div class="review-photo"><img src="{% static 'landing/images/media/r5.png' %}" alt=""></div>-->
							<!--<div class="review-top-content">-->
								<!--<div class="review-author">Андрей Мошачков</div>-->
								<!--<div class="review-author-text">партнер, г. Новосибирск и г. Бердск</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="review-info">-->
							<!--<div class="review-info-min"><b>900</b> стендов</div>-->
							<!--<div class="review-info-big"><b>115 000 руб.</b> Ежемесячный доход</div>-->
						<!--</div>-->
						<!--<div class="review-text">-->
							<!--<div class="indent">Рекламную франшизу взял под себя, чтобы рекламировать свой основной бизнес, так как сам вкладывался-->
								<!--постоянно в рекламу. После 4-х месяцев я еще не успел разместить свою рекламу, так как мне привели клиентов на рекламные-->
								<!--конструкции отдел продаж из Ростова. Пока они приносят деньги, мне пока нет смысла вешать свою рекламу.<br>-->
							<!--</div>-->
							<!--<div class="indent">По началу, вешал рекламу на стенды сам и не понимал, зачем нужно мобильное приложение. Так как это мой бизнес, делал все-->
								<!--качественно и так. Как только нанял монтажников, понял, что программа эта необходима, так как каждый пытался меня-->
								<!--надурить. Я очень занятой человек и некогда следить за работой монтажника, поэтому приложение на телефоне реально-->
								<!--облегчило мою жизнь. Сейчас у меня 900 рекламных конструкций.-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="review-bottom">-->
							<!--<span>8-913-750-66-33</span>-->
							<!--<a href="mailto:rad-novosibirsk@mail.ru">rad-novosibirsk@mail.ru</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="review-item animate fadeUp delay2">-->
						<!--<div class="review-top">-->
							<!--<div class="review-photo"><img src="{% static 'landing/images/media/r7.png' %}" alt=""></div>-->
							<!--<div class="review-top-content">-->
								<!--<div class="review-author">Николай Юмаев</div>-->
								<!--<div class="review-author-text">партнер, г. Казань, г. Альметьевск</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="review-info">-->
							<!--<div class="review-info-min"><b>2400</b> стендов</div>-->
							<!--<div class="review-info-big"><b>200 000 руб.</b> Ежемесячный доход</div>-->
						<!--</div>-->
						<!--<div class="review-text">-->
							<!--<div class="indent">Рекламная компания РТС МЕДИА. г. Казань.<br></div>-->
							<!--<div class="indent">В рекламном бизнесе с 2010г. Обратили внимание на данный продукт, проанализировали и решили развивать данное направление.</div>-->
								<!--<div class="indent">Решающую роль сыграли многие факторы, в том числе:<br></div>-->
								<!--<div style="text-align: left;">-->
									<!--<div class="indent">- уникальность продукта</div>-->
									<!--<div class="indent">- хороший контакт с аудиторией</div>-->
									<!--<div class="indent">- программа онлайн-контроля, которая серьезно помогает контролировать множество рабочих процессов, например: продажи, монтажи, и т.д.</div>-->
									<!--<div class="indent">- отличный сервис для клиента: все прозрачно и понятно.</div>-->
									<!--<div class="indent">- работа с лидерами рынка, такими как МТС и Билайн. Так же доступно и среднему бизнесу.</div>-->
									<!--<div class="indent">- обширный сегмент заказчиков, которые хотят доносить свою информацию максимально доступным и эффективным способом.</div>-->
								<!--</div>-->
							<!--<div class="indent">Отличная бизнес модель для тех, кто хочет, чтобы его рекламу видели несколько раз в день!</div>-->
						<!--</div>-->
						<!--<div class="review-bottom">-->
							<!--<span>8-987-009-90-90</span>-->
							<!--<a href="http://www.vk.com/nikolaiyumaev" target="_blank">www.vk.com/nikolaiyumaev</a>-->
						<!--</div>-->
					<!--</div>-->
					<div class="review-item animate fadeUp">
						<div class="review-top">
							<div class="review-photo"><img src="{% static 'landing/images/media/r4.png' %}" alt=""></div>
							<div class="review-top-content">
								<div class="review-author">Данила Юсько</div>
								<div class="review-author-text">г. Севастополь, г.Симферополь</div>
							</div>
						</div>
						<div class="review-info">
							<div class="review-info-min"><b>3000</b> стендов</div>
							<div class="review-info-big"><b>250 000 руб.</b> Ежемесячный доход</div>
						</div>
						<div class="review-text">
							<div class="indent">Преимущество такой франшизы в том, что проект прибыльный и несет социальную пользу, что упрощает
								его внедрение в городах. Продают не только саму бизнес-идею с программным комплексом, но и клиентскую наработку.
							</div>
							<div class="indent">Думаю, для многих плюс будет еще и в том, что можно обойтись без собственного отдела продаж с соответствующими
								тратами, проблемным персоналом и т.д. Франчайзер предоставляет услуги рекламного агентства, что существенно упрощает
								функционирование франчайзи - все переговоры, споры и иные вопросы с клиентами решает преимущественно специалист франчайзера.
							</div>
							<div class="indent">По факту, от партнера требуется только качественное размещение рекламы. После 1 года работы приняли решение о покупке
								дополнительно одного города.
							</div>
						</div>
						<div class="review-bottom">
							<span>8-978-783-85-37</span>
							<a href="http://www.vk.com/id4171929" target="_blank">www.vk.com/id4171929</a>
						</div>
					</div>
					<div class="review-item animate fadeUp delay1">
						<div class="review-top">
							<div class="review-photo"><img src="{% static 'landing/images/media/r6.png' %}" alt=""></div>
							<div class="review-top-content">
								<div class="review-author">Игорь Аладин</div>
								<div class="review-author-text">г.Волгоград, г.Волжский</div>
							</div>
						</div>
						<div class="review-info">
							<div class="review-info-min"><b>8000</b> стендов</div>
							<div class="review-info-big"><b>500 000 руб.</b> Ежемесячный доход</div>
						</div>
						<div class="review-text">
							<div class="indent">Для меня рекламный бизнес хорошо знаком. Долгое время я работал начальником
								отдела продаж в компании, которая занимается размещением рекламы в лифтах (компания
								РЕКВолга успешно работает по сей день в городах Волгоград, Ростов-на-Дону, Грозный, Астрахань).
								Считаю своей личной заслугой развитие данной компании с 50 до 4000 стендов.
							</div>
							<div class="indent">Когда я увидел таблички на домофонах в нашем городе, то сразу обратил внимание на данный вид рекламы,
								так как считаю его в разы эффективнее - за счёт размещения только одного рекламодателя рядом с полезной информацией
								для жителей конкретного дома.
							</div>
							<div class="indent">
								Оставил заявку на сайте и выяснил, что эта тема родилась в моём родном городе, и есть возможность стать в нём партнером.
								В Волгограде уже было размещено 800 стендов, я выкупил их вместе с партнерским проектом в ноябре 2016 года.
								В сентябре 2017 года в Волгограде и Волжском уже было 6500 стендов и несколько крупных рекламодателей с общей
								ежемесячной суммой платежей около 500 тысяч рублей.
							</div>
							<div class="indent">
								Я поставил задачу к концу 2019 года нарастить объём рекламных конструкций до 12 000.
							</div>
						</div>
						<div class="review-bottom">
							<span>8-904-756-46-76</span>
							<a href="http://www.vk.com/igorancho" target="_blank">www.vk.com/igorancho</a>
						</div>
					</div>
					<div class="review-item animate fadeUp delay2">
						<div class="review-top">
							<div class="review-photo"><img src="{% static 'landing/images/media/r3.jpg' %}" alt=""></div>
							<div class="review-top-content">
								<div class="review-author">Бирюкова Мария</div>
								<div class="review-author-text">г. Чита</div>
							</div>
						</div>
						<div class="review-info">
							<div class="review-info-min"><b>900</b> стендов</div>
							<div class="review-info-big"><b>85 000 руб.</b> Ежемесячный доход</div>
						</div>
						<div class="review-text">
							<div class="indent">После длительного поиска дополнительного заработка, наткнулась на франшизу "Nadomofone.ru". Долго
								сомневалась, но решила, что надо попробовать. Я далека и от бизнеса, и от рекламы, и от продаж, но сотрудники "Nadomofone.ru"
								оказывали помощь во всем. Валерий прилетел ко мне в город, после знакомства с ним я поняла, что смогу стать успешной в этом бизнесе.
							</div>
							<div class="indent"> Я приобрела 300 стендов и уже через 3 месяца все стенды были размещены. Я поняла, что этого количества очень мало, так как стенды заняты
								постоянно в полном объёме, но доход от такого количества небольшой. Мы с мужем приняли решение и дополнительно приобрели еще 800 стендов.
							</div>
							<div class="indent">С такими руководителями франшизного проекта не страшно. Каждый шаг уже продуман до мелочей, клиентов помогают найти, дополнительно
								предлагают сопутствующие " продукты" по раскрутке бизнеса. Спасибо Валерию и Игорю, с ними я уверена в успехе и завтрашнем дне!
							</div>
						</div>
						<div class="review-bottom">
							<span>8-914-503-26-46</span>
							<a href="mailto:mariybiryukova@yandex.ru">mariybiryukova@yandex.ru</a>
						</div>
					</div>

					<!--<div class="review-item review-collapsed">-->
						<!--<div class="review-top">-->
							<!--<div class="review-photo"><img src="{% static 'landing/images/media/r2.jpg' %}" alt=""></div>-->
							<!--<div class="review-top-content">-->
								<!--<div class="review-author">Оксана Захарова</div>-->
								<!--<div class="review-author-text">партнер, г. Горно-Алтайск</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="review-info">-->
							<!--<div class="review-info-min"><b>350</b> стендов</div>-->
							<!--<div class="review-info-big"><b>37 000 руб.</b> Ежемесячный доход</div>-->
						<!--</div>-->
						<!--<div class="review-text">На данный момент имеем 350 рекламных поверхностей. Стенды все сданы под клиентов.Планируем расширяться к весне, так как монтаж в морозы почти невозможен. Вандализм небольшой, не более-->
						<!--3%. Работать нравится, приходится учиться чему то новому, сам бизнес востребованный и многие бы хотели разместить свою рекламу на наших стендах.-->
						<!--Нравится работа офиса продаж, как по оперативности, как и по удобности, всегда помогут словом или делом. Отдельное спасибо Марине и Дмитрию.</div>-->
						<!--<div class="review-bottom">-->
							<!--<span>8(923)665-13-29</span>-->
							<!--<a href="mailto:work04@list.ru">work04@list.ru</a>-->
						<!--</div>-->
					<!--</div>-->
				</div>
				<!--<div class="button-holder">-->
					<!--<a href="" class="button review-more">ЗАГРУЗИТЬ ЕЩЕ</a>-->
				<!--</div>-->
			</div>
		</section>
		<section class="market">
			<div class="holder">
				<div class="market-text">По состоянию на 2019г. рекламный рынок России оценивается в</div>
				<div class="market-title">416 500 000 000 рублей в год.</div>
				<div class="market-green">Прирост составил +14% по сравнению с 2018г.</div>
				<div class="market-note">Согласно данным АКАР (Ассоциации Коммуникационных Агентств России)</div>
			</div>
		</section>
		<section class="order2">
			<div class="holder">
				<div class="order-holder">
					<div class="order-frame frame2"></div>
					<div class="order-img12"></div>
					<div class="order-img11"></div>
					<div class="order-img13"></div>
					<div class="order-form">
						<div class="order-form-title">95% наших партнёров успешно работают на протяжении многих лет. Убедитесь сами!</div>
            {% include 'landing/__includes/form.html' with MAIN_FORM=True NUMBER=2 FORM_SUBMIT_TEXT='скачать 7 историй успеха' %}
					</div>
				</div>
			</div>
		</section>
		<section class="map">
			<div class="holder">
				<h2 class="center">Города присутствия франшизы</h2>
			</div>
			<div class="map-block">
				<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
				<script type="text/javascript">
						ymaps.ready(init);
						var myMap;

						function init(){     
							myMap = new ymaps.Map("map", {
								center: [54.672871,54.674484],
								zoom: 5,
							});
							// Создание метки
							var coords = [{% for city in CITY_LIST %}[{{ city.coord_y|safe }}, {{ city.coord_x|safe }}],{% endfor %}],
							  myCollection = new ymaps.GeoObjectCollection({}, {
								 preset: 'islands#redIcon', //все метки красные
								 draggable: false // и их можно перемещать
							  });

							for (var i = 0; i < coords.length; i++) {
								myCollection.add(new ymaps.Placemark(
									coords[i], {}, {
										iconLayout: 'default#image',
										iconImageHref: '{% static 'landing/images/marker.png' %}',
										iconImageSize: [21, 54],
										iconImageOffset: [-1, -51]
									}
								));
							}
							
							myMap.geoObjects.add(myCollection);
							myMap.behaviors.disable('scrollZoom');
							
							if($(window).width() < 1023){
								myMap.behaviors.disable('drag');
							}
							
							
						}
				</script>
				<div id="map"></div>
			</div>
		</section>
		<div class="map-line">
			<div class="holder">
				Эксклюзивным представителем по городу может быть только одна компания
			</div>
		</div>
		<section class="contacts" id="block5">
			<div class="holder">
				<div class="contacts-block">
					<div class="contacts-holder">
						<div class="contacts-item">
							<div class="contacts-title">Представительство <br>в г. Волгоград
							</div>
							<div class="contacts-text">Ул. Пугачевская, 7Г, оф. 76<br><br>
							- Финансовый отдел<br><br>
							- Отдел IT разработки</div>
						</div>
						<div class="contacts-item">
							<div class="contacts-title">Представительство <br>в г. Сочи</div>
							<div class="contacts-text">Курортный проспект, 73, оф. 302В<br><br>
							- Отдел по работе с Федеральными 
							рекламодателями<br><br>
							- Отдел развития партнерской сети</div>
						</div>
					</div>
					<div class="contacts-bottom">
						<div class="contacts-phone"><a href="tel:{{ SETUP.tel_format }}">{{ SETUP.phone|default:'8(952)608-62-95' }}</a></div>
						<div class="contacts-vk">
							<a href="https://vk.com/franchise_nadomofone" target="_blank"><img src="{% static 'landing/images/web-big.png' %}" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="contacts-map">
				<script type="text/javascript">
						ymaps.ready(init);
						var myMap2;

						function init(){     
							myMap2 = new ymaps.Map("map2", {
								center: [48.051702, 40.595066],
								zoom: 6
							});
							mark1 = new ymaps.Placemark([47.251702, 39.615066],{},{iconLayout: 'default#image', iconImageHref: '{% static 'landing/images/marker.png' %}', iconImageSize: [21, 54], iconImageOffset: [-1, -54]});
							mark2 = new ymaps.Placemark([48.697560, 44.501515],{},{iconLayout: 'default#image', iconImageHref: '{% static 'landing/images/marker.png' %}', iconImageSize: [21, 54], iconImageOffset: [-1, -54]});
							
							// Создаем коллекцию, в которую будем добавлять метки
							myCollection = new ymaps.GeoObjectCollection();
							//Добавляем метки в коллекцию геообъектов.
							myCollection
								.add(mark1)
								.add(mark2);
								
							// Добавляем коллекцию геообъектов на карту.
							myMap2.geoObjects.add(myCollection);
							myMap2.behaviors.disable('scrollZoom');
							
							if($(window).width() < 1023){
								myMap2.behaviors.disable('drag');
							}
							
							
						}
				</script>
				<div id="map2"></div>
			</div>
		</section>
		<footer class="footer">
			<div class="holder">
				<div class="footer-logo">
					<img src="{% static 'landing/images/logo2.png' %}" alt="">
				</div>
				<div class="footer-links">
					<a href="#hidden-block" class="fancybox">Политика конфиденциальности</a><br>
					<a href="#hidden-block2" class="fancybox">Пользовательское соглашение</a>
					<div id="hidden-block" class="hidden-block">
						<h2>Политика конфиденциальности</h2>
						<p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
						Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
						При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно. 
						Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.</p>
					</div>
					<div id="hidden-block2" class="hidden-block">
						<h2>Пользовательское соглашение</h2>
						<p>
              Принимая условия настоящего Соглашения сторона, оставившая заявку (зарегистрировавшись) на сайте
              (далее - Заявитель),  подтверждает, что тем самым дает Индивидуальному предпринимателю Луневу Валерию
              Александровичу (ОГРН 309345903700027) свое согласие на обработку его персональных данных в соответствии с
              Федеральным Законом от 27.07.2006 г. № 152-ФЗ «О персональных данных», с использованием средств
              автоматизации или без использования таких средств с целью ведения информационного учета в соответствии с
              требованиями законодательства Российской Федерации.
            </p>
            <p>
              Заявитель предоставляет Индивидуальному предпринимателю Луневу Валерию Александровичу (ОГРН 309345903700027)
              право осуществлять следующие действия (операции) с его персональными данными: сбор, систематизацию,
              накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе
              передачу третьим лицам), обезличивание, блокирование, уничтожение. Заявитель подтверждает, что настоящее
              согласие дается добровольно и действует бессрочно.
            </p>
					</div>	
				</div>
				<div class="footer-webs">
					<a href="https://vk.com/franchise_nadomofone" target="_blank"><img src="{% static 'landing/images/web1.png' %}" alt=""></a>
					<a href=""><img src="{% static 'landing/images/web2.png' %}" alt=""></a>
				</div>
				<div class="footer-phone">
					<a href="tel:{{ SETUP.tel_format }}">{{ SETUP.phone|default:'8(952)608-62-95' }}</a>
				</div>
				<div class="footer-studio">
					<a href="http://neurondg.com/" target="_blank"><img src="{% static 'landing/images/studio.png' %}" alt=""></a><br>
				</div>
			</div>
		</footer>
		<div id="popup" class="popup">
			<div class="order-form">
				<div class="order-form-title">Скачать материалы проекта</div>
				{% include 'landing/__includes/form.html' with MAIN_FORM=True NUMBER=3 FORM_SUBMIT_TEXT='Скачать (10, 1 Mb) .pdf' %}
			</div>
		</div>
		<div id="video-popup1" class="video-popup">
			<iframe src="https://www.youtube.com/embed/Kntda--DvS4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div id="video-popup2" class="video-popup">
			<iframe src="https://www.youtube.com/embed/ggMtE8UFkxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div id="popup2" class="popup">
			<div class="popup-leave">
				<div class="popup-leave-left">
					<img src="{% static 'landing/images/media/book.png' %}" alt="" class="popup-leave-book">
				</div>
				<div class="popup-leave-right">
					<a href="" class="fancy-close"><img src="{% static 'landing/images/close.png' %}" alt=""></a>
					<div class="order-form">
						<div class="order-form-title">Не уходите!</div>
						<div class="order-form-subtitle">Мы отправим вам финансовый план на email:</div>
            {% include 'landing/__includes/form.html' with FORM_SUBMIT_TEXT='ПОЛУЧИТЬ ФИНАНСОВЫЙ ПЛАН' NUMBER=4 %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block bottom_js %}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>
<!-- VK Widget --> <div id="vk_community_messages"></div> <script type="text/javascript"> VK.Widgets.CommunityMessages("vk_community_messages", 149980062, {expandTimeout: "600000",tooltipButtonText: "Отправьте нам сообщение!"}); </script>
{% endblock %}


{{ SETUP.bottom_js|safe|default:'' }}
</body>
</html>