<!DOCTYPE html>
<html lang="ru">
<head>
  {% load staticfiles %}
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
{#	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />#}
	<title>Рекламное агентство Дружба</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/all.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'landing/css/jquery.fancybox.css' %}" />
	<script src="{% static 'landing/js/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'landing/js/jquery.validate.js' %}"></script>
	<script src="{% static 'landing/js/jquery.fancybox.js' %}"></script>
	<script src="{% static 'landing/js/tabs.js' %}"></script>
	<script src="{% static 'landing/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'landing/js/jquery.maskedinput.js' %}"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/html5.js' %}"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="{% static 'landing/js/placeholder.js' %}"></script><![endif]-->
	<script src="{% static 'landing/js/all.js' %}"></script>
	<script type="text/javascript">
		setTimeout('location.replace("{% url 'landing:index' %}")', 5000);
	</script>
</head>
<body>
	<div id="wrapper" class="thnx">
		<div class="thnx-text">
      Спасибо за заявку. <br> Мы свяжемся с Вами <br> в ближайшее время.
		</div>
	</div>
</body>
</html>