<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Рекламное агентство Дружба</title>
	<link media="all" rel="stylesheet" type="text/css" href="css/all.css" />
	<link media="all" rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" />
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/tabs.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.maskedinput.js"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
	<script src="js/all.js"></script>
	<script type="text/javascript">
		setTimeout('location.replace("index.html")', 3000);
	</script>
</head>
<body>
	<div id="wrapper" class="thnx">
		<div class="thnx-text">
			СПАСИБО ЗА ВАШУ ЗАЯВКУ<br> МЫ СВЯЖЕМСЯ С ВАМИ<br> ЧЕРЕЗ НЕСКОЛЬКО МИНУТ
		</div>	
	</div>
</body>
</html>