{% extends 'landing/index.html' %}
{% block top_js %}
	<script type="text/javascript">
		setTimeout('location.replace("{% url 'landing:index' %}")', 5000);
	</script>
  <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=HuFqqif742Smwf9Rntqqdme4WbZ8Kdl4EOqwSfSSJm9XwZPm7b/AmJLyMpkuQE1vr2/noBzxhzNMyD4EUgQAWMETYQ4P3c613e*rtjxa3ucg8zE4AyjMcmrLE9XXsTdEmiL4QDLze60hKFtXvUS/Jh9yH*uoIqc3LUeui5gV9qI-';</script>
{% endblock %}
{% block content %}
	<div id="wrapper" class="thnx">
		<div class="thnx-text">
      Спасибо за заявку. <br> Мы свяжемся с Вами <br> в ближайшее время.
		</div>
	</div>
{% endblock %}
{% block bottom_js %}
{% endblock %}