{% extends 'landing/index.html' %}
{% block meta_keys %}
{% endblock %}
{% block meta_desc %}
{% endblock %}
{% block title %}
<title>Согласие на обработку персональных данных</title>
{% endblock %}
{% block header_main %}
{% endblock %}
{% block content %}
  <section class="personal">
    <div class="holder">
			<h2>Согласие на обработку персональных данных</h2>
      <div class="personal-text">
        <p>
          Принимая условия настоящего Соглашения сторона, оставившая заявку (зарегистрировавшись) на сайте
          (далее - Заявитель),  подтверждает, что тем самым дает Индивидуальному предпринимателю Луневу Валерию
          Александровичу (ОГРН 309345903700027) свое согласие на обработку его персональных данных в соответствии с
          Федеральным Законом от 27.07.2006 г. № 152-ФЗ «О персональных данных», с использованием средств
          автоматизации или без использования таких средств с целью ведения информационного учета в соответствии с
          требованиями законодательства Российской Федерации.
        </p>
        <p>
          Заявитель предоставляет Индивидуальному предпринимателю Луневу Валерию Александровичу (ОГРН 309345903700027)
          право осуществлять следующие действия (операции) с его персональными данными: сбор, систематизацию,
          накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе
          передачу третьим лицам), обезличивание, блокирование, уничтожение. Заявитель подтверждает, что настоящее
          согласие дается добровольно и действует бессрочно.
        </p>
      </div>
    </div>
  </section>
{% endblock %}